.card {
  width: 100%;
  height: 100%;
  background-color: white;

  &__title {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: lightblue;
  }

  &__body {
    padding: 10px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}
