<mat-toolbar>
  <span (click)="onGoHome()"> Trackify </span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="side-nav-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <app-navigation-bar></app-navigation-bar>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div style="width: 40px; height: 100%;">
      <button mat-icon-button (click)="drawer.toggle()" color="primary"
        aria-label="Example icon button with a home icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div style="width: 100%; height: 100%; padding-top: 10px;">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>

<!-- <div class="footer"> -->
  <mat-toolbar class="footer">
    <p> v1.0.0 </p>
  </mat-toolbar>
<!-- </div> -->
