<div class="layout-container">
  <div class="header-container">
    <trackify-header></trackify-header>
    <!-- <mat-toolbar color="primary">
      <span (click)="onGoHome()"> Trackify </span>
      <span class="example-spacer"></span>
      <button (click)="onLogout()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar> -->
  </div>
  <div class="content-container">

    <mat-drawer-container>
      <mat-drawer #drawer mode="side" opened="true">
        <app-navigation-bar></app-navigation-bar>
      </mat-drawer>

      <mat-drawer-content>
        <div>
          <router-outlet></router-outlet>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>

  </div>
</div>


<!-- <mat-toolbar color="primary">
  <span (click)="onGoHome()"> Trackify </span>
  <span class="example-spacer"></span>
  <button (click)="onLogout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="side-nav-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <app-navigation-bar></app-navigation-bar>
  </mat-drawer>

  <mat-drawer-content style="width: 100%; height: 100%;">
    <div style="width: 100%; height: 100%; margin: 10px; background-color: blueviolet;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>

</mat-drawer-container> -->


<!-- <div class="example-sidenav-content">
  <div style="width: 40px; height: 100%;">
    <button mat-icon-button (click)="drawer.toggle()" color="primary"
      aria-label="Example icon button with a home icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div style="width: 100%; height: 98%; padding-top: 5px; background-color: orange; margin: 5px;">
    <router-outlet></router-outlet>
  </div>
</div> -->


<!-- <div class="footer"> -->
<!-- <mat-toolbar class="footer">
    <p> v1.0.0 </p>
  </mat-toolbar> -->
<!-- </div> -->
