.example-spacer {
  flex: 1 1 auto;
}

.side-nav-container {
  width: 100%;
  padding: 0px 10px 10px 0px;
  height: calc(100% - 50px);

  .example-sidenav {
    min-width: 15%;
  }

  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: flex-start;
  }
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
